<!DOCTYPE html>
<html>
    <head>
        <title>Navigation bar DEMO</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
           <img src="logo.png">
            <nav>
                <ul>
                    <li><a href="#">SciFi</a></li>
                    <li><a href="#">Posession</a></li>
                    <li><a href="#">Hindi</a></li>
                    <li><a href="#">Japanese</a></li>
                    <li><a href="#">Psycological</a></li>
					<li><a href="#">Monster</a></li>
                    <li><a href="#">Torture Porn</a></li>
                    <li><a href="#">Lovecraftian</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <p>Welcome to the darkest corners of the digital realm, where terror knows no bounds and fear takes on myriad forms. Welcome to HorrorFlix, your one-stop destination for the most spine-chilling, heart-pounding, and mind-bending horrors across all genres. Prepare yourself to embark on a journey into the unknown, where the shadows hide unspeakable terrors and the nightmarish tales of the macabre await.

Here, we delve deep into the abyss of horror, exploring the limitless realms of fear, suspense, and the supernatural. Whether you're a fan of classic horror, psychological thrillers, supernatural phenomena, or the darkest recesses of the human psyche, HorrorFlix has something to haunt your nightmares and keep you coming back for more.

Our website is a sanctuary for horror enthusiasts, a place where you can immerse yourself in a world of darkness, suspense, and the inexplicable. From bone-chilling stories to in-depth analyses of horror in film, literature, and beyond, we are your guides through the labyrinthine corridors of fear.

Join us if you dare, but remember, once you step into the shadows of HorrorFlix, there may be no turning back. </p>
        </main>
    </body>
</html>